.background{
   width: 100%; /* Ajustado para garantir que se ajuste ao contêiner */
    height: 100%; /* Ajustado para garantir que se ajuste ao contêiner */
    position: relative; /* Alterado para relative */
    border-radius: 10px;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
form{
    background-color: #3586FF;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    overflow: auto; /* Adiciona rolagem se necessário */
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(122, 121, 121, 0.781);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}

.button{
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}

*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    /* background-color: gray; */
    grid-template-rows: repeat(3, 20.5rem);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center; 
    overflow: hidden;
}


/* body{
    background-color: #080710;
} */

.itemX {
    margin-top: 40%;
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    /* height: 100%;  */
    width: 100%;
    overflow: hidden; /* Adiciona rolagem se necessário */
}

.item4 {
    width: 100px;
}


