* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.containerInfo {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}


.containerUserInfo {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-end;
}

.containerUserInfo input {
    background: none;
    border: none;
    width: 20vw;
    color: #3068b1;
    border-bottom: 0.5px solid #3068b1;
    padding: 5px 0;
}

.containerUserInfo img {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 90px;
}

input:focus {
    outline: none;
}

.containerLogin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.containerLogin a {
    color: #143868;
}

.containerLogin h2 {
    color: #143868;
}

.containerLogin h3 {
    color: #3068b1;
}

.containerLogin p {
    color: #3068b1;
}

.registerInfo {
    display: flex;
    font-size: 12px;
    margin-bottom: 20px;
    align-items: center;
}

.registerInfo input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    /* Tamanho do botão */
    height: 24px;
    background-color: #1c1b22;
    /* Fundo escuro */
    border-radius: 4px;
    /* Bordas levemente arredondadas para um quadrado suave */
    cursor: pointer;
    position: relative;
}

.registerInfo input[type="radio"]:checked::before {
    content: "";
    display: block;
    width: 12px;
    /* Tamanho do quadrado interno */
    height: 12px;
    background-color: #2a2933;
    /* Cor do quadrado interno */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    /* Bordas levemente arredondadas no quadrado interno */
}

.createBtn {
    width: 21vw;
    background-color: #3068b1;
    /* Cor de fundo escura */
    color: #fff;
    /* Cor do texto em um tom de dourado */
    border: none;
    border-radius: 8px;
    /* Bordas arredondadas */
    padding: 12px 24px;
    /* Espaçamento interno */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.createBtn:hover {
    background-color: #5e9ef3;
}

.emailInp::placeholder {
    color: #3068b1;
}

.passInp::placeholder {
    color: #3068b1;
}

