.TopicsContainer{ 
    display: grid;
    background-color: gray;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

.topics-list {
    grid-column: 2;
    grid-row: 2;
    background-color: #3586FF;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 57.5px 35px;
    overflow: auto; /* Adiciona rolagem se necessário */
}